@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    color: #494949;
    line-height: 1.8;
    background: #ecf0f1;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

ul, ol, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.clearfix {
    clear: both;
}
input::-ms-input-placeholder { color: #bebebe; font-weight: 100; }
input::-webkit-input-placeholder { color: #bebebe; font-weight: 100;} 
input::-moz-placeholder { color: #bebebe; font-weight: 100;}
input::-moz-placeholder { color: #bebebe; font-weight: 100;}

textarea::-ms-input-placeholder { color: #bebebe; font-weight: 100;}
textarea::-webkit-input-placeholder { color: #bebebe; font-weight: 100;} 
textarea::-moz-placeholder { color: #bebebe; font-weight: 100;}
textarea::-moz-placeholder { color: #bebebe; font-weight: 100;}

input, textarea {
	border: 1px solid #ccc;
}
form {
	margin: 0;
	padding: 0;
}

/***** HEADER *****/
header {
	background: #fff;
}
header .top_wrap {
    width: 800px;
    margin: 0 auto;
    display: flex;
}
header .top {
	flex: 1;
	padding: 0;
	margin: 10px 0;
}
header .logo {
}
header .logo span {
	font-size: 18px;
    font-weight: 700;
}
header .logo img {
    height: 50px;
    vertical-align: middle;
}
header .account {
	text-align: right;
	padding-top: 10px;
	position: relative;
}
header .account .mypage_drop {
	border: 1px solid #dedede;
	position: absolute;
	top:60px;
	right: 0;
	padding:0;
	background: #fff;
	z-index: 10;
	text-align: left;
	width: 200px;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.3);
}
header .account .mypage_drop li {
	font-size: 14px;
	font-weight: 100;
	padding: 10px;
	border-bottom: 1px solid #dedede;
	cursor: pointer;
}
header .account .mypage_drop li:last-child {
	border-bottom: none;
}
header .account .mypage_drop li:hover {
	background: #f8f8f8;
}
header .icon {
	font-size: 32px;
	color: #000;
	cursor: pointer;
}
header .icon:first-child {
	margin-right: 20px;
}
.dash {
	margin: 0 5px;
}
/***** BODY *****/
.container {

}

section {

}

/***** BUTTON STYLE *****/
button {
    display: inline-block;
    background-color: #494949;
    color: #fff;
    text-align: center;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.9;
}
button:hover {
    opacity: 1;
}
/***** SEARCH PAGE *****/
.search_header {
    width: 100%;
    text-align: center;
    padding:0;
    background-color: #000;
    color: #fff;
    font-size: 2em;
}
.search_wrap {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px 0;
}
.search_wrap:after {
    content: "";
    display: block;
    clear: both;
}
.form-search {
    float: left;
    width: 90%;
    border: none;
    display: inline-block;
    color: #fff;
    background-color: transparent;
    font-size: 36px;
}
.search_option_wrap {
	border-top: 1px solid #494949;
	padding: 10px;
}
.search_option {
	max-width: 800px;
	margin: 0 auto;
	font-size: 13px;
	text-align: left;
}
.search_option label {
	margin-left: 20px;
}
.search_option select {
	width: 80px;
	border: 1px solid #494949;
	background: transparent;
	color: #fff;
	font-size: inherit;
	padding: 5px 10px;
	margin: 0 5px;
	border-radius: 0px; /* iOS 둥근모서리 제거 */ 
	-webkit-appearance: none; /* 네이티브 외형 감추기 */ 
	-moz-appearance: none; 
	appearance: none;
	position: relative;
}
.search_option select:before { /* 화살표 대체 */ 
	content: ""; 
	position: absolute;
	top: 50%; 
	right: 15px; 
	width: 0; 
	height: 0; 
	margin-top: -1px; 
	border-left: 5px solid blue; 
	border-right: 5px solid blue; 
	border-top: 5px solid red;
}
.search_option input {
	width: 80px;
	border: 1px solid #494949;
	background: transparent;
	color: #fff;
	font-size: inherit;
	padding: 5px 10px;
	margin: 0 5px;
}
.btn_price {
	border: 1px solid #666;
	border-radius: 0;
	background: transparent;
	padding: 5px 10px;
	font-size: inherit;
}
.btn_all {
	border: 1px solid #666;
	border-radius: 0;
	background: transparent;
	padding: 5px 10px;
	font-size: inherit;
}
.search_option .all_num {
	color: gold;
	margin-left: 5px;
}

.search_result_title {
	font-size: 21px;
	font-weight: 300;
}
.search_result_title > .total {
	color: #1e75d6;
}
.search_result_title span {
	color: #1e75d6;
}
.btn_add {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px auto;
}
.btn_logout {

}
.btn_wrap {
	border-top: 0px solid #dedede;
	padding-top: 10px;
    text-align: center;
    margin: 0;
}
.btn.edit {

}
.btn_search {
    float: right;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../img/search.png') no-repeat center center;
    background-size: 30px;
}
.tooltip {
	background: tomato;
	color: #fff;
	display: block;
	padding: 10px;
	width: 100%;
	position: relative;
	font-size: 12px;
	font-weight: 300;
	line-height: 14px;
	border-radius: 4px;
	margin-top:-5px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
}
.tooltip:before {
	top: -10px;
	content: "";
	display: block;
	height: 20px;
	left: 0;
	position: absolute;
	width: 100%;
}
.tooltip:after {
	border-left: solid transparent 10px;
	border-right: solid transparent 10px;
	border-bottom: solid tomato 10px;
	top: -10px;
	content: " ";
	height: 0;
	left: 0;
	margin-left: 30px;
	position: absolute;
	width: 0;
}
.item_del {
	display: inline-block;
	position: absolute;
	top:20px;
	right: 15px;
	padding: 0;
	line-height: 24px;
}
.icon_del {
	background: none;
	color:tomato;
	padding: 0;
	margin: 0;
	font-size: 18px;
}
.result_wrap {
	position: relative;
    max-width: 800px;
    margin: 20px auto;
    border: 1px solid #dedede;
    padding: 20px;
    overflow: hidden;
    text-align: left;
    background: #fff;
    transition: all 0.2s ease-in-out;
}
.result_wrap:hover {
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
	transition: all 0.2s ease-in-out;
	transform: translateY(-10px);
}
.result_wrap .photo {
    float: left;
    margin-right: 40px;
    width: 300px;
    height: 300px;
    border: 1px solid #dedede;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.poster {
	width:300px;
	float: left;
	color: #727272;
	font-weight: 100;
	border: 1px solid #dedede;
	background: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: 20px;
	padding: 130px 20px;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.2s;
}
.poster h4 {
	color: #727272;
	font-weight: 300;
	margin-bottom: 10px;
}
.poster:hover {
	color: #000;
	border-color:#5264AE;
	background: rgba(0,0,0,0.05);
	background-repeat: no-repeat;
	background-position: center center;
}
.result_wrap .poster i {
	font-size: 46px;
	opacity: 0.5;
}
.result_wrap .poster p {
	font-size: 14px;
}
.result_wrap .info {
    font-size: 14px;
    overflow: hidden;
}
.result_wrap .info label {
    display: inline-block;
    width: 100px;
    color: #000;
    float: left;
    font-weight: 100;
}
.result_wrap .info .item {
    margin-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
}
.result_wrap .info .item span {
    display: inline-block;
    overflow: hidden;
}
.result_wrap .info .item .contact {
    margin-left: 10px;
    color: #1e75d6;
    font-weight: 300;
}
.result_wrap .info .name {
    font-size: 24px;
    font-weight: 400;
}

.result_wrap .info li label {
    font-weight: 100;
    width: 120px;
}
.result_wrap .info li label.concert::before {
    content: "\f005";
	font-family: 'Font Awesome 5 free';
	display: inline-block;
	margin-right: 5px;
	font-size: 14px;
	line-height: 14px;
}
.result_wrap .info li label.event::before {
    content: "\f004";
	font-family: 'Font Awesome 5 free';
	font-style: normal;
	display: inline-block;
	margin-right: 5px;
	font-size: 12px;
	line-height: 12px;
}
.result_wrap .info li span::before {
    content: "₩";
    margin-right: 5px;
}
.result_wrap .info .pay .type {

}

.result_wrap .info .manager {

}

.result_wrap .info .company {

}

.result_wrap .info .date {

}

.result_wrap .info .name input {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 400px;
    border: none;
    border-bottom: 0px solid #bebebe;
}

.result_wrap .info input.price {
    width: 175px;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 5px;
    padding: 5px 10px;
}

.result_wrap .info input.option {
    width: 140px;
    display: inline-block;
    font-size: 14px;
    font-weight: 100;
    margin-right: 10px;
    padding: 5px 10px;
}

.result_wrap .info input.option:last-child {
    margin-right: 0;
}

.result_wrap .info textarea {
	resize : vertical;
    width: 100%;
    min-height: 80px;
    font-size: 14px;
    line-height: 1.6;
    border: 1px solid #dedede;
    margin-bottom: 5px;
    padding: 5px 10px;
}

.result_wrap .info input.price:after {
    content: "원";
    display: inline-block;
}

.contents {
    width: 800px;
    margin: 40px auto;
    text-align: center;

}
/***** FOOTER *****/
footer {
    width: 100%;
    text-align: center;
    color: #828282;
    font-size: 12px;
    font-weight: 300;
    padding: 40px;
}
/***** LOGIN *****/
.login_container {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.login_wrap {
    width: 400px;
    text-align: center;
}

.login_wrap > img {
    height: 100px;
    margin-bottom: 20px;
}

.login_box {
    text-align: start;
    border: 1px solid #dedede;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.login_box h1 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
}

.login_box label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.login_box input {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    color: #494949;
    font-size: 13px;
    font-weight: 100;
    margin-bottom: 20px;
}

.login_box button {
    width: 100%;
    height: 40px;
}

.copyright {
    margin-top: 20px;
    font-weight: 300;
    font-size: 12px;
    color: #ddd;
}

